/node_modules
node_modules/
dist/

# Config / env
src/config.js
.env

# Python virtual environment
backend/venv/

#json file(google service account)
backend/gdrive_service_account.json

# Python cache
backend/__pycache__/
*.pyc
venv/
node_modules/
__pycache__/
.env
dist/
build/